.woocommerce .wc-vp-sign-documents-section-pro {
  background: #fff;
  border: 1px solid #ddd;
  margin: 0 0 1em 0;
  padding: 20px;
  display: block; }
  .woocommerce .wc-vp-sign-documents-section-pro th, .woocommerce .wc-vp-sign-documents-section-pro td {
    width: 100%;
    padding: 0;
    display: block;
    margin: 0; }
  .woocommerce .wc-vp-sign-documents-section-pro h3 {
    font-size: 20px;
    color: #057986;
    margin: 0 0 10px 0; }
  .woocommerce .wc-vp-sign-documents-section-pro p {
    color: #666;
    margin: 0; }
  .woocommerce .wc-vp-sign-documents-section-pro fieldset {
    display: block;
    padding-top: 20px;
    max-width: 360px; }
    .woocommerce .wc-vp-sign-documents-section-pro fieldset .notice {
      margin: 0 0 10px 0; }
    .woocommerce .wc-vp-sign-documents-section-pro fieldset input.regular-input {
      margin: 0 0 10px 0;
      border-radius: 3px;
      width: 100%; }
  .woocommerce .wc-vp-sign-documents-section-pro-flex {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    @media only screen and (max-width: 960px) {
      .woocommerce .wc-vp-sign-documents-section-pro-flex {
        flex-wrap: wrap; } }
  .woocommerce .wc-vp-sign-documents-section-pro.wc-vp-sign-documents-section-pro-active .wc-vp-sign-documents-section-pro-flex {
    align-items: center; }
  .woocommerce .wc-vp-sign-documents-section-pro-cta {
    width: 360px;
    padding-left: 20px; }
    @media only screen and (max-width: 960px) {
      .woocommerce .wc-vp-sign-documents-section-pro-cta {
        border-top: 1px solid #DDDDDD;
        padding: 20px 20px 0 20px;
        margin: 20px -20px 0;
        width: 100%; } }
    .woocommerce .wc-vp-sign-documents-section-pro-cta h4 {
      font-size: 18px;
      color: #057986;
      margin: 0; }
    .woocommerce .wc-vp-sign-documents-section-pro-cta ul {
      padding: 10px 0;
      margin: 0; }
      .woocommerce .wc-vp-sign-documents-section-pro-cta ul li {
        background: url(../images/icon-check.svg) no-repeat left center;
        padding-left: 32px;
        color: #666; }
    .woocommerce .wc-vp-sign-documents-section-pro-cta-button {
      display: flex;
      color: #666;
      align-items: center; }
      .woocommerce .wc-vp-sign-documents-section-pro-cta-button a {
        height: 40px;
        border-radius: 5px;
        background: #057986 url(../images/icon-cart.svg) no-repeat 13px center;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        padding: 0 20px 0 48px;
        display: block;
        line-height: 40px;
        white-space: nowrap;
        font-size: 16px;
        margin: 0 20px 0 0; }
      .woocommerce .wc-vp-sign-documents-section-pro-cta-button span small {
        display: block;
        font-size: 12px; }
      .woocommerce .wc-vp-sign-documents-section-pro-cta-button span strong {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap; }
  .woocommerce .wc-vp-sign-documents-section-pro-activated {
    padding: 15px 20px 15px 15px;
    padding: 0 20px 0 49px;
    min-height: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: url(../images/icon-active.svg) no-repeat 2px center;
    text-align: left;
    margin-right: auto; }
    .woocommerce .wc-vp-sign-documents-section-pro-activated strong {
      color: #28374F;
      font-size: 16px; }
    .woocommerce .wc-vp-sign-documents-section-pro-activated small {
      font-size: 12px;
      color: #666; }
    .woocommerce .wc-vp-sign-documents-section-pro-activated-buttons {
      display: flex;
      align-items: center;
      padding: 10px 0; }
      .woocommerce .wc-vp-sign-documents-section-pro-activated-buttons .button-primary {
        margin-right: 15px; }
  .woocommerce .wc-vp-sign-documents-section-pro.wc-szamlazz-section-pro-active {
    padding: 10px 20px; }

.forminp-wc_vp_sign_documents_content #wp-document_content-wrap {
  max-width: 700px; }

.wc-vp-sign-documents-title {
  background: url(../images/logo-vp.svg) no-repeat 0 center;
  padding-left: 38px; }

.woocommerce-BlankState.woocommerce-BlankState--wc-vp-sign-documents .woocommerce-BlankState-message:before {
  content: '';
  min-height: 124px;
  background: url(../images/empty-state.svg) no-repeat center; }
.woocommerce-BlankState.woocommerce-BlankState--wc-vp-sign-documents a.button-primary {
  background: #057986;
  border-color: #057986;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #057986;
  color: #fff;
  text-shadow: 0 -1px 1px #057986, 1px 0 1px #057986, 0 1px 1px #057986, -1px 0 1px #057986; }
  .woocommerce-BlankState.woocommerce-BlankState--wc-vp-sign-documents a.button-primary:hover, .woocommerce-BlankState.woocommerce-BlankState--wc-vp-sign-documents a.button-primary:focus {
    background: #057986;
    border-color: #057986;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #057986; }

#wc_vp_sign_documents_metabox h2.hndle {
  background: #F3F9F9 url(../images/logo-vp.svg) no-repeat 12px center;
  padding-left: 50px; }
#wc_vp_sign_documents_metabox .inside {
  padding: 0;
  margin: 0; }
#wc_vp_sign_documents_metabox .vp-wc-sign-documents-document {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #EEEEEE; }
  #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document a {
    color: #057986; }
  #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document-qr {
    margin: 0 0 10px 0; }
    #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document-qr canvas {
      display: block;
      margin: 0 auto; }
  #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 4px 0;
    padding: 0; }
  #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document strong {
    white-space: nowrap; }
  #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document span {
    text-align: right; }
  #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document p {
    color: #777;
    font-size: 13px;
    line-height: normal;
    max-width: 230px;
    margin: 0 auto 10px auto; }
  #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 3px 0; }
    #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document-row:first-child {
      margin: 0 0 10px 0; }
      #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document-row:first-child a {
        padding-right: 21px;
        background: url(../images/icon-download.svg) no-repeat right center; }
    #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document-row h3 {
      margin: 0; }
    #wc_vp_sign_documents_metabox .vp-wc-sign-documents-document-row-user-agent span {
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.column-wc_vp_sign_documents div {
  display: flex; }
  .column-wc_vp_sign_documents div a {
    margin-right: 5px; }
    .column-wc_vp_sign_documents div a.status-completed span {
      margin: 0;
      min-height: 32px;
      width: 33px;
      background: url(../images/icon-download.svg) no-repeat center; }

#wc-vp-sign-documents-options .select2-container--disabled:after {
  display: block;
  font-style: normal;
  background: #FF6767;
  border-radius: 3px;
  vertical-align: middle;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  padding: 2px 5px;
  content: 'PRO';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%); }

#wc-vp-sign-documents-options #document_order_status + .select2-container--disabled:after {
  top: 58%; }

#document_emailitin + .vp-wc-sign-documents-pro-label {
  display: inline-block;
  font-style: normal;
  background: #FF6767;
  border-radius: 3px;
  vertical-align: middle;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  padding: 2px 5px;
  content: 'PRO';
  transform: translate(-45px, 5px); }

.notice.wc-vp-sign-documents-notice {
  position: relative; }
  .notice.wc-vp-sign-documents-notice .wc-vp-sign-documents-wait {
    cursor: wait;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    top: 0;
    left: 0; }

/*# sourceMappingURL=admin.css.map */
